<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dumbways Batch 64</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="button-wrapper">
    <button class="btn">About Me</button>
    <button class="btn">Contact Me</button>
    <button class="btn">My Github</button>
  </div>

  <div class="center-box">
    <h1>Muhammad Maulana Ibrahim</h1>
    <h3>Website Developer</h3>
  </div>

</body>
</html>