/* page background */
body {
    margin: 100px;
    padding: 30px;
    background: #0028ff; /* biru kamu */
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    color: #111;
  }
  .paper-page {
    position: relative;
    width: 750px;
    margin: 0 auto;
    padding-top: 40px;  /* ruang untuk About Me supaya tidak niban */
  }

  }
  .about-badge {
    position: absolute;
    left: 555px;       /* POSISI KONSISTEN kayak margin-left 525px */
    top: 30px;
    background: #f5e9c6;
    padding: 8px 14px;
    border-radius: 6px;
    width: fit-content;
  }
  .mid-box {
    background-color: rgb(205, 90, 228);
    color: #000;
    width: 720px;         /* fixed width so it tidak full layar */
    max-width: calc(100% - 60px);
    margin: 0 auto 30px;  /* center & space below */
    padding: 14px 18px;
    box-shadow: 0 6px 16px rgba(6,10,63,0.25);
    border-radius: 6px;
    line-height: 1.4;
    text-align: center;
  }
  
  /* NAME: cream box only selebar teks */
  .name-box {
    display: inline-block;     /* only as wide as text */
    background-color: #f5e9c6; /* CREAM */
    padding: 6px 14px;
    border-radius: 6px;
    margin: 18px auto;         /* margin top/bottom */
    font-weight: 600;
    text-align: center;
    /* center on its own line */
    width: fit-content;
    display: block;
  }
  
  /* profile image */
  .profile-img {
    display: block;
    margin: 18px auto;
    width: 280px;        /* adjust size as needed */
    height: 320px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 8px 22px rgba(6,10,63,0.25);
  }
  
  /* job title */
  .job-title {
    text-align: center;
    margin-top: 6px;
    color: #0b0b0b;
  }
  
  .contact-btn {
    cursor: pointer;
    background: aqua;
    padding: 10px 18px;
    border-radius: 999px;
    border: none;

    display: block;       /* wajib untuk margin auto bekerja */
    margin: 20px auto;    /* ini bikin tombol ke TENGAH */

    box-shadow: 0 6px 14px rgba(47, 50, 85, 0.12)
  }
  
  /* small screens */
  @media (max-width: 780px) {
    .mid-box { width: auto; margin: 0 10px 20px; }
    .profile-img { width: 200px; height: 230px; }
    .name-box { padding: 6px 10px; }}
    .social-buttons {
        display: flex;
        justify-content: center;  /* <-- ini bikin ke tengah */
        gap: 12px;
        margin-top: 20px;
    }
    
    .social-btn {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        font-size: 22px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
        transition: 0.2s;
    }
    
    .ig { background: #E4405F; }
    .li { background: #0A66C2; }
    .fb { background: #1877F2; }
    .th { background: #000000; }
    
    .social-btn:hover {
        transform: scale(1.12);
        box-shadow: 0 6px 14px rgba(0,0,0,0.25);